@import "~bootstrap/scss/bootstrap";
@keyframes alert {
    from {
        transform: scale(.75);
    }
    to {
        transform: scale(1.5);
    }
}

#root {
    min-height: 100vh;

    > .navbar-brand {
        flex-direction: column;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: #6fb66f;
        
        h1 {
            color: #fff;
            font-size: calc(1vw + 20px);
        }
    }
}
.Calendar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

    .btn-group {
        max-width: 200px;
    }
    > div {
        width: 100%;

        > p {
            color: #6fb66f;
            font-size: 25px;
            font-weight: 700;
            margin: 0;
        }
    }

    .MonthTamplate {
        position: relative;
    }
}
.days {
    display: flex;
    justify-content: space-between;

    div {
        width: 14.2857142%;
        border-top: 2px solid;
        text-align: center;
    }
    .weekend {
        color: #dc3545
    }
}
.dates {
    display: flex;
    width: 100%;
    height: 50vh;
    flex-wrap: wrap;
    border-right: 1px dashed grey;
    border-bottom: 1px dashed grey;

    > div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-top: 1px solid;
        border-left: 1px dashed grey;
        width: 14.2857142%;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            top: 6px;
            right: 6px;
            width: 18px;
            height: 18px;
            font-weight: 900;
            font-size: 24px;
            font-family: roboto, sans-serif;
            padding: 0;
            margin: 0;
            position: absolute;
        }
        .noteOnToday {
            animation: alert 1s ease-in-out infinite alternate;
            color: #dc3545;
        }
        > p {
            display: flex;
            bottom: 3px;
            padding: 0;
            margin: 0;
            position: absolute;
            color: #d4edda;
        }
    }
    > .exist:hover {
        box-shadow: 0 0 4px silver;
        transform: scale(1.1);
        z-index: 7;
        cursor: pointer;
    }
    > div:nth-child(7n + 5) {
        border-right: 1px dashed #dc3545;
    }
    > div:nth-child(7n + 6) {
        border-left: none;
    }
    .bg-light {
        color: black;

        > p {
            color: #dc3545
        }
    }
    .bg-light:last-child {
        color: #f8f9fa;
        border-color: black;
    }
}

.note {
    display: flex;
    justify-content: space-between;
    align-items: center;

    strong {
        margin-right: 1rem;
    }
}



.alert-enter {
    opacity: 0;
}
.alert-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-out;
}
.alert-exit-active {
    opacity: 0;
    transition: opacity 350ms ease-out;
}


.note-enter-active {
    animation: note 800ms ease-out alternate-reverse; 
}
.note-exit-active {
    animation: note 800ms ease-out forwards;
}


@keyframes note {
    0% {
        transform: translateX(0)
    }
    30% {
        opacity: .7;
        transform: translateX(30px)
    }
    100% {
        opacity: 0;
        transform: translateX(-200px) 
    }
}




.form-control:focus {
    border-color: rgb(111, 182, 111);
    box-shadow: 0 0 0 0.2rem rgba(111, 182, 111,.3);
}

.form-control:focus + button {
    background: radial-gradient(#6fb66f94, transparent, transparent);
}


.navbar {

    .navbar-brand {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        white-space: pre-wrap;

        h5 {
            white-space: wrap;
            word-break: break-all;
        }
    }
}
// .navbar-brand {
//     display: block;
// }

.container.pt-4 {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;

    h2 {

    }
    .list-group {

        .list-group-item {
            div {

                small {
                    position: absolute;
                    top: 1px;
                    left: 20px; 
                }
            }
        }
    }
}